<div class="slide">
  <h1>Admin Framework</h1>

  <ul class="main-list">
    <li>✅ Focus on features</li>
    <li>✅ Consistent user interface</li>
    <li>✅ UX Niceties</li>
    <li>☹️ Inflexible</li>
    <li>☹️ Can't build what our users want</li>
    <li>☹️ Other sad things...</li>
  </ul>
</div>
