<div class="slide">
  <h1>Copy</h1>

  <div class="code">
    models/playlist_item.rb
    <br/><br/>

    <code style="font-size: 110%">
      def copy_attrs<br/>
      &nbsp;&nbsp;{ duration: self.duration, poster_id: self.poster_id }<br/>
      end<br/>
    </code>
  </div>
</div>
