<div class="slide">
  <h1>"Old School"</h1>

  <ul class="main-list">
    <li><strike>Angular/React/Vue</strike></li>
    <li><strike>Stimulus</strike></li>
    <li><strike>jQuery</strike></li>
    <li><strike>ES6 via Babel</strike></li>
    <li><strike>ES5</strike></li>
    <li>ES-what-works-in-your-users-browsers*</li>
  </ul>
  <small>* Plus the UJS library Rails ships with</small>
</div>
