<div class="slide">
  <h1>Undo Functionality</h1>

  <div class="code">
    destroyed_playlist_items/update.js.erb
    <br/><br/>

    <code style="font-size: 120%">
      <%%= render_flash message: 'Undone!' %><br/>
      <%%= <strong>show</strong> @playlist_item %><br/>
    </code>
  </div>
</div>
