<div class="slide">
  <h1>Inline Updates</h1>

  <div class="code">
    playlist_items/update.js.erb
    <br/><br/>

    <code style="font-size: 110%">
      <%%= render_flash message: 'Updated' %>
    </code>
  </div>
</div>
