<div class="container">
  <div class="row">
    <div class="col-3">Destroy/Delete Example</div>
    <div class="col-9">
      <table class="table table-hover table-striped table-sm">
        <tbody id="playlist_items">
          <%= render @playlist.playlist_items.order :position %>
        </tbody>
      </table>
    </div>
  </div>
  <%= render partial: 'destroy/playlist_items/form', locals: {
    playlist_item: [:destroy, @playlist, PlaylistItem.new] } %>
</div>
